header .logo{
    width:60px;
}
header form i{
 position:absolute;
 padding:10px;   
}
input[type=search]{
    padding-left:30px;
    background-color:#1a1c20;;
}
::placeholder{
color:red;
}
main .friends .img img{
width:60px;
height:60px;
border-radius: 50%;
}
main .friends{
    background-color: #1a1c20;;
}
.massenger .status{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.massenger .status-active{
 background-color: green;
}
.massenger .status-off{
    background-color: #313336;
}
.massenger{
  background-color: #1a1c20;
}
.recent{
    background-color: #1a1c20;
}
.recent .dot,
.dot__style {
    color:#313336;
    font-size: 30px;
}
.gallery img{
    width: 100%;
    object-fit: cover;
}
.story-image{
    position: relative;
    background-image: url(../assets/image/woman.jpeg);
    background-position: center;
    background-size: cover;
    height:300px;
    background-repeat: no-repeat;
}
.story-image:not(.first)::before{
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    height: 50px;
    width: 50px;
    background-image: url(../assets/image/woman.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border:1px solid blue;
}
.story-image:not(.first)::after{
    content:'Name Name';
    position:absolute;
    bottom:20px;
    left:20px;
    
}
.first .icon{
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid blue;
}
.first .icon i{
font-size: 20px;
    padding: 10px;
}
.new .image img,
.image__style{
    width:60px;
    height:60px;
    border-radius: 50%;
}
.new{
    background-color:#1a1c20 ;
}
.new .whatnew{
    background-color: #313336;
}
.new .whatnew .icon{
    background-color: #C7C8C9;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-self: flex-end;
    
}
.new .whatnew .icon i{
    color:#1a1c20;
    font-size:18px ;
}
.posts{
    background-color: #1a1c20;
}

.p__style{
    margin-top: -15px;
    font-size: 14px;
    color: #313336;
}
.events{
    background-color: #1a1c20;
}
.events .events-img{
    width:70px;
    height: 70px;
}


